*{
    background-color: rgb(245, 243, 141);
    font-size: large;
}
body{
    color: rgb(6, 27, 27);
    
}
p{
    color: rgb(3, 70, 3);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}
ul footer a{
    font-family:Arial, Helvetica, sans-serif;
    color: tomato;
}
