* {
  background-color: tan;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 5vw;
}

img {
  width: 100%;
  height: 200%;
}

#norImg {
  width: 7%;
  height: 7%;
  opacity: 1;
  border-radius: 50%;
  filter: drop-shadow(10px 7px 10px black);
}

/* .userInput{
     text-align: center;
     font-size: 1vw;
 }
  */

h1 {
  margin-top: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 4.5vw;
}

#speH1 {
  margin-top: 0%;
  text-align: center;
  color: rgb(255, 255, 255);
  /* color: black; */
  font-size: 4.5vw;
  filter: drop-shadow(10px 7px 10px black);
  border-radius: 50px;
  /* box-shadow: 10PX 7PX 10PX black; */
}

h2 {
  font-size: 3.9vw;
  color: rgb(246, 243, 19);
}

h3 {
  font-size: 3.9vw;
  color: rgb(3, 90, 107);
  font-family: arial;
  font-style: italic;
}

p {
  font-size: 3vw;
  color: rgb(112, 24, 9);
  text-align: justify;
  font-family: sans-serif;
}

b {
  color: #b1bc84;
  font-style: italic;
  font-size: 3vw;
}

#normal {
  color: rgb(185, 87, 7);
  font-size: 3vw;
}

#noticed {
  color: rgb(112, 24, 9);
}

#front {
  color: rgb(246, 243, 19);
}

#subPara_ {
  text-align: center;
}

#spePara {
  color: rgb(255, 255, 255);
  font-family: monospace;
}

#speTitle {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: monospace;
}

pre,
code {
  font-size: 2.7vw;
  font-family: monospace;
  color: rgb(15, 6, 148);
  overflow: auto;
}
